body {
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
}

.outer-div {
    padding: 2em;
    text-align: center;
}

.inner-div {
    text-align: left;
    border: 1px lightgrey solid;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    margin: 1em;
}

.grid > div {
    border: 1px lightgrey solid;
    background: rgba(240, 240, 240, 0.5);
}

ul {
    margin: 0;
}