<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="/assets/gfm.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="/site/gonfluence.css" media="all" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.min.css"
          type="text/css"/>
    <link href="/site/gonfluence.css" media="all" rel="stylesheet" type="text/css"/>
</head>
<body>

<h1>Discovered Projects</h1>
<div class="grid">
    {{range $name, $project := .Projects}}
        <div class="inner-div">
            <h3>{{$name}}</h3>
            {{range $md := $project.Files}}
                <ul>
                    <li><a href="#">{{$md.ProjectPath}}{{$md.Filename}}</a></li>
                </ul>
            {{end}}
        </div>
    {{end}}
</div>
</body>
</html>
